/* wokiee theme*/

@font-face {
    font-family: 'Tajawal-Light';
    src: url('fonts/Tajawal-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Tajawal-Medium';
    src: url('fonts/Tajawal-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family:'fl';
    src: url('fonts/FrutigerLTArabic-45Light.eot');
    src: url('fonts/FrutigerLTArabic-45Light.ttf') format('truetype'),
    url('fonts/FrutigerLTArabic-45Light.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family:'fb';
    src: url('fonts/FrutigerLTArabic-55Roman.eot');
    src: url('fonts/FrutigerLTArabic-55Roman.eot?#iefix') format('embedded-opentype'),
    url('fonts/FrutigerLTArabic-55Roman.woff') format('woff'),
    url('fonts/FrutigerLTArabic-55Roman.ttf') format('truetype'),
    url('fonts/FrutigerLTArabic-55Roman.otf') format('opentype');
}

@font-face {
    font-family:'skynews';
    src: url('fonts/HelveticaNeueW23forSKY-Bd_T02.eot');
    src: url('fonts/HelveticaNeueW23forSKY-Bd_T02.eot') format('embedded-opentype'),
    url('fonts/HelveticaNeueMEforSKYW21-Rg_web.woff2') format('woff'),
    url('fonts/HelveticaNeueMEforSKYW21-Bd_web.ttf') format('truetype')
}

@font-face {
font-family: 'GE SS Unique';
src: url('fonts/GE_SS_Unique_Light.ttf') format('truetype'),
url('fonts/GE_SS_Unique_Light.otf') format('otf'),
url('fonts/GE_SS_Unique_Light.eot'),
url('fonts/GE_SS_Unique_Light.eot?#iefix') format('embedded-opentype'); /* Super Modern Browsers */
font-weight: bolder;
font-style: normal;
}

/*body, html, div, a, p, h1, h2, h3, h4, h5, h6, table, row, td, th, tr, thead, tfoot, button, span, .btn, .btn-del, ul, li, .page-content, .portlet, .light, .profile-sidebar-portlet {*/
    /*font-family: 'Cairo', sans-serif !important;*/
    /*direction: rtl;*/
/*}*/

.tt-header-holder .tt-desctop-menu:not(.tt-hover-02) nav > ul li.dropdown:first-child > a, .tt-stuck-nav .tt-desctop-menu:not(.tt-hover-02) nav > ul li.dropdown:first-child > a {
    padding: 10px !important;
}

.tt-menu-categories .tt-dropdown-menu nav > ul .dropdown-menu, .tt-menu-categories .tt-dropdown-menu nav > ul .tt-megamenu-submenu > li ul {
    right: 100%;
}



.tt-search-type2-rtl, .tt-btn-search-rtl {
    position: relative;
    padding: 5px 20px 3px;
    border: none;
    outline: none;
    color: #ffffff;
    background: #4611a7;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.05em;
    left: 6px;
    cursor: pointer;
    border-bottom-right-radius : 0px;
    border-top-right-radius : 0px;
    border-bottom-left-radius : 6px;
    border-top-left-radius : 6px;
}


.tt-header-holder .obj-move-right {
    min-width: 220px;
}

#loader {
    right : 55% !important;
    left: 0;
}

.date-picker-element {
    border-top-right-radius: 15px !important;
    border-bottom-right-radius: 15px !important;
}


footer .tt-mobile-collapse .tt-collapse-title {
    text-align : right;
}

header .tt-header-holder .obj-aligment-center > *, header .tt-header-holder .obj-aligment-right > * {
    text-align: left !important;
}
