

@font-face {
    font-family: 'Neuton';
    src: url('fonts/Neuton-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'HindSiliguri-Regular';
    src: url('fonts/HindSiliguri-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Tajawal-Light';
    src: url('fonts/Tajawal-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Tajawal-Medium';
    src: url('fonts/Tajawal-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'YanoneKaffeesatz-Medium';
    src: url('fonts/YanoneKaffeesatz-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'sst-arabic-bold';
    src: url('fonts/sst-arabic-bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'School';
    src: url('fonts/School_Times.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.date-picker-element {
    border-top-left-radius: 15px !important;
    border-bottom-left-radius: 15px !important;
}

footer .tt-mobile-collapse .tt-collapse-title {
    text-align : left;
}
